.header-title {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  margin-top: 48px;
}

.header-search {
  float: right;
  font-size: 15px;
  margin-top: 13px;
  width: 250px;
}

.header-line {
  border-top: 1px solid black;
  margin-top: 16px;
}
