.table {
  font-style: normal;
  font-size: 15px;
  margin-bottom: 30px;
}

.table-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.row-color-active {
  background-color:#def1de
}

.row-color-inactive {
  background-color:#f9f9f9
}
.align-right {
  text-align: right;
}

table.table-bordered > thead > tr > th{
  border:2px solid #d3d3d3;
}

table.table-bordered > tbody > tr > th{
  border:2px solid #d3d3d3;
}

table.table-bordered > tbody > tr > td{
  border:2px solid #d3d3d3;
}

